@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: roboto;
}

p{
    height: auto;
}

html {
    height: 100%;
}

body{
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    height: auto;
    background-color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 50%);

    display: grid;
    grid-template-rows: auto auto;
    z-index: 1;
}

.header-upper{
    display: grid;
    gap: 20px;
    grid-template-columns: auto 1fr auto auto auto;
    padding: 10px 30px 5px 30px;
}

.header-upper img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

.header-upper svg {
    height: 30px;
    width: auto;
    justify-self: center;
    align-self: center;
}

.header-upper div{
    background-color: #E2E8F0;
    border-radius: 30px;
    height: 30px;
    width: auto;
    align-self: center;
    margin-right: 80px;
}

.header-upper p{
    align-self: center;
    justify-self: center;
    font-size: 18px;
    font-weight: 600;
}

.header-lower{
    height: fit-content;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 20px;
    padding: 5px 30px 10px 30px;
}

.header-lower img{
    align-self: center;
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.header-lower div{
    align-self: center;
    height: auto;
}

.header-lower p{
    font-size: 16px;
    font-weight: 600;
}

#name {
    font-size: 24px;
}

.header-lower button{
    height: 40px;
    width: 100px;
    align-self: center;
    border-radius: 20px;
    border: 0px;
    background-color: #1A92D3;
    color: white;
    font-weight: 600;
}

.sidebar {
    background-color: #1A92D3;
    grid-row: 1/3;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 2fr 5fr 5fr;
    z-index: 1;
}

.logo {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.logo svg,
.options svg,
.settings svg {
    width: 50px;
    height: auto;
    fill: white;

    justify-self: center;
    align-self: center;
}

.logo p,
.options p,
.settings p {
    font-size: 28px;
    font-weight: 600;
    color: white;

    align-self: center;
}

.options,
.settings {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: repeat(7, 1fr);
}

.options svg,
.settings svg {
    width: 30px;
}

.options p,
.settings p {
    font-size: 20px;
    font-weight: 400;
}

.settings {
    grid-row: 3/4;
}

.main-content {
    background-color: #E2E8F0;
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.content-left {
    padding: 30px;
}

.content-left p {
    font-size: 18px;
}

.project-cards{
    height: auto;
    display: grid;
    margin: 20px 0px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-cards div{
    height: 250px;
    background-color: white;
    border-left: 10px solid gold;
    border-radius: 10px;
    padding: 30px;

    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
}

#project-name {
    font-size: 16px;
    font-weight: 800;
}

#project-details{
    font-size: 14px;
    color: gray;
}

#icons{
    padding: 0;
    gap: 10px;
    border-radius: 0;
    height: auto;
    border: none;
    display: flex;
    justify-content: end;
}

#icons svg{
    height: 20px;
    width: auto;
}

.content-right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 30px;
}

.content-right div p {
    font-size: 18px;
}

.content-right div div{
    height: auto;
    background-color: white;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

#announcement{
    display: grid;
    grid-template-rows: repeat(3,auto);
}

#announcement div{
    padding: 10px 0px;
    border-radius: 0;
    margin: 0;
    border-bottom: 1px solid black;
}

#announcement :last-child{
    border: none;
}

#announcement-name{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 800;
}

#announcement-details{
    font-size: 14px;
    color: gray;
}

.trending {
    display: grid;
    grid-template-rows: repeat(4,auto);
}

.trending div {
    padding: 0px;
    margin: 0px;
    border-radius: 0;
}

#trending-div{
    display: flex;
    gap: 10px;
    margin: 10px;
    padding: 0;
}

#trending-div img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

#trending-div div{
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    align-self: center;
}

#user-name, #user-handle{
    font-size: 14px;
}

#user-handle {
    color: grey;
}


